/* 全体の定義 */
p{
    line-height:180%;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 24px;
    color: #222222;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;}
.title_y{
    font-size: 24px;
    color: #ffd61a;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}
p{
    font-size: 16px;
}
.p_title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
}
.switch{
    font-size: 18px;
    height: 60px;
    width: 300px;
    background: #ffd61a;
    margin: 0 auto;
}
.switch_text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration:none;
}
.switch_a:hover{
    background: #cacaca;
    outline: 1px solid #ffd61a;
}

/* header */
.header{
    display: flex;
}
.header_logo{
    margin: 20px;
}
.header_navi{
    display: flex;
    font-size: 21px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header_navi a{
    text-decoration: none;
    color: #222222;
}
.navi_about{
    margin-right: 50px;
}
.navi_course{
    margin-right: 50px;
}
.navi_news{
    margin-right: 50px;
}
.navi_access{
    margin-right: 50px;
}
/* mainvisual */
.mainvisual{
    width: 1200px;
    height: 500px;
    background: url("../img/mainbg.png") no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainvisual h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.mainvisual p{
    font-size: 34px;
    text-align: center;
    color: white;
}

/* ABOUT */
.about{
    text-align: center;
}
.p_about{
    margin-bottom: 40px;
}
.about_body{
    display: flex;
    margin-top: 80px;
}
.about_body img{
    width: 300px;
}

/* COURSE */
.p_course{
    text-align: center;
    margin-bottom: 60px;
}
h3{
    font-size: 24;
    color: #222222;
    font-weight: bold;
    margin-bottom: 40px;
}
.course_img{
    width: 600px;
}
.course_text{
    background-color: #fafafa;
    width: 600px;
}
.course_box1{
    display: flex;
}
.course_box2{
    display: flex;
}
.course_box3{
    display: flex;
}
.course_box1_text{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.course_box2_text{
    padding-left: 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.course_box3_text{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NEWS */
.news_box1{
    width: 300px;
    margin-right: 30px;
}
.news_box2{
    width: 300px;
    margin-right: 30px;
}
.news_box3{
    width: 300px;
}
.news_box{
    display: flex;
    justify-content: center;
}
.news_box p{
    font-size: 14px;
}
.news_date{
    margin-top: 30px;
    margin-bottom: 24px;
}
.news a{
    color: #222222;
    text-decoration: none;
}
.news_a:hover{
    outline: thick double #32a1ce;
}
.switch_more{
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Access */
.access{
    background: #fafafa;
    width: 1200px;
    padding-bottom: 60px;
}
.access_header h2{
    padding-top: 60px;
    margin-bottom: 30px;
}
.access_body{
    margin-top: 60px;
    line-height: 50px;
    margin-right: auto;
    margin-left: auto;
}
.table_td1{
    width: 130px;
}

/* CONTACT */
.contact{
    width: 1200px;
}
.contact_header p{
    text-align: center;
    margin-bottom: 30px;
}
.contact_table{
    margin-right: auto;
    margin-left: auto;
}
.contact_table_th{
    text-align: left;
    vertical-align: top;
    padding-top: 8px;
    padding-left: 16px;
    width: 240px;
    border-top: solid 2px #bfbfbf;
    border-bottom: solid 2px #bfbfbf;
    line-height: 32px;
}
.contact_table_td{
    width: 400px;
    border-top: solid 2px #bfbfbf;
    border-bottom: solid 2px #bfbfbf;
    border-left: solid 2px #bfbfbf;
}
.contact_table_input_text{
    width: 328px;
    height: 36px;
    border-color: #bfbfbf;
    margin: 8px auto 8px 8px;
}
.contact_table_trigger{
    width: 328px;
    height: 36px;
    border-color: #bfbfbf;
    margin: 8px auto 8px 8px;
}
.contact_table_input_detail{
    height: 100px;
}
input[type="text"] {
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.contact_table_input input[type="text"] {
    padding-left: 20px;
}
input[type="email"] {
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}
input[type="email"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.contact_table_input input[type="email"] {
    padding-left: 20px;
}
.switch_send{
    margin-top: 30px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
}
.switch_send_text{
    font-size: 18px;
    height: 60px;
    width: 300px;
    background: #ffd61a;
    color: white;
    border:none ;

}

/* footer */
.footer{
    width: 1200px;
    margin: 0 auto;
    background: #707070;
    text-align: center;
    color: white;
}
.footer p{
    padding-top: 30px;
    padding-bottom: 30px;
}